{% extends 'testenglish/base.html' %}
{% load static %}

{% block content %}
<section>
    <blockquote>
        <p id="quote">
            &ldquo;Test C&rdquo;
        </p>
        <br/>
        <br>
        {% for q in questions %}
        {% if q.order > 29 %}
        <form action="{% url 'tests_by_level_result' level=1 %}" method="get">
            <div>
                <p><font face="Cinzel" color="black" size="5">{{q.text}}</font></p>
                <br/>
                <input type="checkbox" id="choice1" name="answer" value="answer1">
                <label for="choice1"><font face="Cinzel" color="white" size="4">{{q.answer1}}</font></label>
                <br/>
                <input type="checkbox" id="choice2" name="answer" value="answer2">
                <label for="choice2"><font face="Cinzel" color="white" size="4">{{q.answer2}}</font></label>
                <br/>
                <input type="checkbox" id="choice3" name="answer" value="answer3">
                <label for="choice3"><font face="Cinzel" color="white" size="4">{{q.answer3}}</font></label>
                <br/>
                <input type="checkbox" id="choice4" name="answer" value="answer4">
                <label for="choice4"><font face="Cinzel" color="white" size="4">{{q.answer4}}</font></label>
            </div>
            {% endif %}
            {% endfor %}
            <br/>
            <input type="submit" class="input-endt" id="end-test" name="endtest" value="Завершить тест">
        </form>
    </blockquote>

</section>
{% endblock %}